* {
  box-sizing: border-box;
}
.headerContainer,
.footerContainer {
  text-align: center;
}

/* Main body */
.container {
  width: 400px;
  height: 400px;
  border-radius: 3px;

  background-color: rgb(170, 227, 241);
  margin: auto;
  /* padding-top: 3em; */
}
/* form containing all the fields  */
.formContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em;
}
/* class for all inputs  */
.inputField {
  width: 90%;
  height: 1.7rem;
  border-radius: 3px;
  margin: 0.5em;
}
/* submit btn */
.btnSubmit {
  width: 40%;
  margin: 1em auto;
}

/* media Queries */

@media (max-width: 500px) {
  formContainer {
    width: 100%;
  }
  body {
    font-size: 1.2em;
  }
  .container {
    width: 100%;
    height: auto;
  }
}
